@import "../../styles/vars.scss";

.quiz-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    position: relative;

    margin-left: 10%;
}

.mayor-container {
    max-height: 600px;
    object-fit: contain;
    margin-top: 100px;
    flex: 0 0 32%; /* Adjust the width */
}

.damsoff-container {
    max-height: 600px;
    object-fit: contain;
    margin-top: 100px;
    flex: 0 0 40%; /* Adjust the width */
}

.quiz-container {
    flex: 0 0 30%;
    width: 900px;
    background: $bg;
    border-radius: 4px;
    padding: 30px 60px;
    box-sizing: border-box;
    position: relative;
    margin-top: 7ch;

    .active-question-no{
        font-size: 28px;
        font-weight: 500;
        color: $primary;
    }

    .total-question{
        font-size: 22px;
        font-weight: 500;
        color: $disabled
    }

    h2{
        font-size: 20px;
        font-weight: 500;
        margin: 0;
    }
    
    ul{
        margin-top: 20px;
        margin-left: -40px;

        li{
            list-style: none;
            color: $foreground;
            font-size: 14px;
            background: $bg;
            border: 1px solid $disabled;
            border-radius: 16px;
            padding: 6px;
            margin-top: 15px;

            cursor: pointer;
        }

        .selected-answer{
            background: $primary;
            border: 1px solid $accent;
            color: $bg;
        }
    }

    .footer{
        display: flex;
        justify-content: flex-end;
    }

    button {
        background: linear-gradient(0deg, $primary 0.03%, $accent);
        border-radius: 9px;
        font-size: 18px;
        color: $bg;
        padding: 10px 42px;
        outline: none;
        border: none;
        margin-top: 15px;
        cursor: pointer;

        &:disabled{
            background: $bg-accent;
            color: $disabled;
            cursor: not-allowed;
        }
    }

    input {
        border: 1px solid $disabled;
        border-radius: 4px;
        padding: 10px 20px;
        width: 100%;
        margin-top: 20px;
        box-sizing: border-box;
    }
}




