@import "../../styles/vars.scss";

.result{
    text-align: center;

    h3{
        font-size: 22px;
        letter-spacing: 1.4px;
        text-align: center;
    }

    p{
        font-size: 18px;
        font-weight: 500;

        span{
            color: $primary;
            font-size: 20px;
        }
    }

    #safe-text{
        font-size: 16px;
    }

    table{
        width: 7dvh;
        text-align: left;
        margin: 50px auto 20px;
        border-collapse: collapse;
        font-size: 14px;

        tr{
            border: 1px solid
        }
        td{
            text-align: center;
        }
    }
}